<!--
  Generated template for the CompromimisoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar full color="rojo">
    <ion-title>Compromimiso</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

      <ion-label align="center">
        COMPROMISO :
      </ion-label>

        <ion-item>
    <ion-input type="text" placeholder="Yo XXXXXX titular de XXXXXX me comprometo....."></ion-input>
  </ion-item>
<button ion-button block round color="boton" (click) = " volverhyInicio() ">
    ACEPTAR COMPROMISO
  </button>
</ion-content>
