<!--
  Generated template for the VacunasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar full color="rojo">
    <ion-title align="center">REGISTRAR VACUNAS</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

<ion-list>


<ion-item>
      <ion-label>
        TIPO DE VACUNA :
      </ion-label>

    <ion-select  [(ngModel)] =" tipo_vacuna ">
      <ion-option value="antirrabica nacional">ANTIRRABICA NACIONAL</ion-option>
      <ion-option value="antirrabica americana">ANTIRRABICA AMERICANA</ion-option>
      <ion-option value="octuple">OCTUPLE</ion-option>
      <ion-option value="triple felina">TRIPLE FELINA</ion-option>

    </ion-select>
</ion-item>


  <ion-item>
    <ion-label stacked>NRO DE DOSIS :</ion-label>
   <ion-input type="text"  round [(ngModel)] =" nro_dosis "></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>NOMBRE DEL VETERINARIO :</ion-label>
<ion-input type="text" round [(ngModel)] =" nomb_vete "></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>INSTITUCION VETERINARIA :</ion-label>
<ion-input type="text" round [(ngModel)] =" inst_vete "></ion-input>
  </ion-item>





</ion-list>


  <button ion-button block round color="boton" (click) = " acumulacionVacuna() ">
    REGISTRAR
  </button>

  <button ion-button block round color="boton" (click) = " abrirCompromiso() ">
    CONTINUAR
  </button>
</ion-content>
