<!--
  Generated template for the ContactosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar full color="rojo">
    <ion-title>REGISTRAR CONTACTO</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


<ion-list>

  <ion-item>
    <ion-label stacked>NOMBRES :</ion-label>
    <ion-input type="text" color="edit" round [(ngModel)] =" nombre_ca "></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>AP. PATERNO :</ion-label>
    <ion-input type="text" color="edit" round [(ngModel)]=" apaterno_ca "></ion-input>
  </ion-item>

    <ion-item>
    <ion-label stacked>AP. MATERNO :</ion-label>
    <ion-input type="text" color="edit" round [(ngModel)]= " apmaterno_ca "></ion-input>
  </ion-item>

      <ion-item>
    <ion-label stacked>AP. CASADO :</ion-label>
    <ion-input type="text" color="edit" round [(ngModel)]= " apcasada_ca " ></ion-input>
  </ion-item>

        <ion-item>
    <ion-label stacked>EMAIL :</ion-label>
  <ion-input type="text" color="edit" round [(ngModel)] =" email_ca "></ion-input>
  </ion-item>

        <ion-item>
    <ion-label stacked>FIJO :</ion-label>
 <ion-input type="text" color="edit" round [(ngModel)]=" fijo_ca " ></ion-input>
  </ion-item>

        <ion-item>
    <ion-label stacked>CELULAR :</ion-label>
 <ion-input type="text" color="edit" round [(ngModel)]=" celular_ca "></ion-input>
  </ion-item>


</ion-list>



      <div padding>
    <button ion-button  block round color="boton" (click)=" registrar() "  >
     <ion-icon name="paw" item-start>  REGISTRAR </ion-icon>  </button>
  </div>

</ion-content>
