<!--
  Generated template for the RegistrarUnoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar full color="rojo">
    <ion-title >REGISTRAR MASCOTA</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding >

<ion-list>
<ion-item>


      <ion-label stacked>
         NOMBRE (mascota) :
      </ion-label>
 
      <ion-input type="text" [(ngModel)] =" nombre "></ion-input>
  
 
</ion-item>
<ion-item>
   

   
       <ion-label >
     ESPECIE :
      </ion-label>

    <ion-select  [(ngModel)] ="especie" (ionChange) = "razasMascota ($event)">
      <ion-option value="canino">CANINO</ion-option>
      <ion-option value="felino">FELINO</ion-option>

    </ion-select>

   </ion-item>



   <ion-item>

         <ion-label>
     RAZA :
      </ion-label>

    <ion-select  [(ngModel)] =" raza " >
      <ion-option value="{{var_data._raza_data}}" *ngFor="let var_data of data_combo_raza">{{var_data._raza_data}}</ion-option>
    </ion-select>
    
</ion-item>


<ion-item>
    <ion-label>SEXO :</ion-label>
    <ion-select [(ngModel)] =" sexo " >
      <ion-option value="macho" >MACHO</ion-option>
      <ion-option value="hembra">HEMBRA</ion-option>

    </ion-select>
</ion-item>
<ion-item>
   <ion-label>PESO :</ion-label>
</ion-item>
<ion-item>
<ion-input type="text" color="primary" color="dark" round [(ngModel)] =" numero "></ion-input>
    <ion-select  [(ngModel)] =" peso ">
      <ion-option value="kilos">KILOS</ion-option>
      <ion-option value="gramos">GRAMOS</ion-option>

    </ion-select>
</ion-item>


<ion-item>
   <ion-label>EDAD :</ion-label>
</ion-item>

<ion-item>
      <ion-input type="text"  round [(ngModel)] =" anios "></ion-input>

    <ion-select  [(ngModel)] =" aniosdos ">
      <ion-option value="años">AÑOS</ion-option>
      <ion-option value="meses">MESES</ion-option>

    </ion-select>
</ion-item>

<ion-item>
  <ion-label>
        TAMAÑO :
      </ion-label>
    <ion-select  [(ngModel)] =" tamano ">
      <ion-option value="gigante">GIGANTE</ion-option>
      <ion-option value="grande">GRANDE</ion-option>
       <ion-option value="mediano" >MEDIANO</ion-option>
        <ion-option value="pequeno">PEQUEÑO</ion-option>
    </ion-select>
</ion-item>


<ion-item>


      <ion-label stacked>
         COLOR :
      </ion-label>
 
      <ion-input type="text" [(ngModel)] =" color "></ion-input>
  
 
</ion-item>


<ion-item>
    <ion-label>
        VACUNAS :
      </ion-label>

    <ion-select  selected="true" [(ngModel)] =" vacuna ">
      <ion-option value="no">NO</ion-option>
      <ion-option value="si" >SI</ion-option>

    </ion-select>
</ion-item>



<ion-item>
      <ion-label>
        ESTERILIZACION :
      </ion-label>

    <ion-select  selected="true" [(ngModel)] =" esterilizacion " (ionChange) = "action ($event)">
      <ion-option value="no">NO</ion-option>
      <ion-option value="si" >SI</ion-option>

    </ion-select>
</ion-item>

<ion-item  *ngIf="ocultar1">

    <ion-label>
       TIPO DE ESTERILIZACION :
      </ion-label>

    <ion-select  [(ngModel)] =" gender ">
      <!--ion-option value="ninguna">NINGUNA</ion-option-->
      <ion-option value="chip">NINGUNA</ion-option>
      <ion-option value="certificado">CERTIFICADO</ion-option>
       <ion-option value="tatuaje">TATUAJE</ion-option>
        <!--ion-option value="chip" >CHIP</ion-option-->
    </ion-select>
</ion-item>


<ion-item>
      <ion-label>
        DESPARACITACION :
      </ion-label>

    <ion-select  selected="true" [(ngModel)] =" desparacitacion ">
      <ion-option value="no">NO</ion-option>
      <ion-option value="si" >SI</ion-option>

    </ion-select>
</ion-item>

<ion-item>


      <ion-label stacked>
        NOMBRE DEL VETERINARIO (Actual) :
      </ion-label>
 
      <ion-input type="text" [(ngModel)] =" vete_actual "></ion-input>
  
 
</ion-item>

<br>
</ion-list>



<button ion-button block round color="boton" (click) = " abrirRegistrfoDos() ">
    CONTINUAR
  </button>

</ion-content>
