<!--
  Generated template for the InformacionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar full color="rojo">
    <ion-title>Informacion</ion-title>
  </ion-navbar>

</ion-header>



<ion-content padding>
<ion-list>

  <ion-item *ngFor="let item of data_listar">
 

 <img [src]=(item.foto)>

  </ion-item>
  
 

<ion-item>
     <ion-label>NOMBRE : 
      
      </ion-label>

     <ion-label *ngFor="let item of data_listar">
       {{ item.nombre_mas }}     
      </ion-label>

 
      
  
 
</ion-item>
<ion-item>
     <ion-label>RAZA :
      
      </ion-label>

     <ion-label *ngFor="let item of data_listar">
       {{ item.raza }}      
      </ion-label>
 
      
  
 
</ion-item>
<ion-item>
     <ion-label>COLOR :
      
      </ion-label>

     <ion-label *ngFor="let item of data_listar">
       {{ item.color }}      
      </ion-label>
 
      
  
 
</ion-item>
<ion-item>
     <ion-label>SEXO :
      
      </ion-label>

     <ion-label *ngFor="let item of data_listar">
       {{ item.sexo }}      
      </ion-label>
 
      
  
 
</ion-item>
<ion-item>
     <ion-label>VETERINARIO ACTUAL :
      
      </ion-label>

     <ion-label *ngFor="let item of data_listar">
       {{ item.vete_actual }}      
      </ion-label>
 
      
  
 
</ion-item>

     
 
      
</ion-list>


<button ion-button block round color="boton" (click) = " listamascota() ">
    VOLVER
  </button>
</ion-content>
