<!--
  Generated template for the DesparacicitacionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar full color="rojo">
    <ion-title>REGISTRO DE DESPARACITACION</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<ion-list>

  <ion-item>
    <ion-label stacked>FECHA DE APLICACION :</ion-label>
<ion-input type="text" color="primary" round [(ngModel)] =" fecha_aplicacion "></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>NOMBRE DEL VETERINARIO :</ion-label>
    <ion-input type="text" color="rojo" round [(ngModel)] =" nombre_veterinario_realizacion "></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>INSTITUCION VETERINARIA :</ion-label>
      <ion-input type="text" color="edit" round [(ngModel)] =" institucion " ></ion-input>
  </ion-item>

</ion-list>


      <div padding>
    <button ion-button  block round color="boton" (click)=" SiguienteDes() "  >
     <ion-icon name="paw" item-start>  CONTINUAR </ion-icon>  </button>
  </div>



</ion-content>
