<!--
  Generated template for the VacunasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar full color="rojo">
    <ion-title>Vacunas</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

<ion-label align="center"> INGRESO </ion-label>

<button ion-button align="rigth"  color="boton" (click) = " abrirVacunas() "><ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon></button>


<ion-grid>
   <ion-row >
    <ion-col  col-5>
      <ion-label align="left">
        TIPO DE VACUNA :
      </ion-label>
    </ion-col>
      <ion-col col-7>
      <ion-list>
<ion-item>

    <ion-select  selected="true">
      <ion-option>TIPO 1</ion-option>
      <ion-option >TIPO 2</ion-option>
      <ion-option >TIPO 3</ion-option>
      <ion-option >TIPO 4</ion-option>

    </ion-select>
</ion-item>
</ion-list>
</ion-col>
  </ion-row>
  </ion-grid>
  <ion-grid>

 <ion-row center full color="primary">
    <ion-col width-50 left col-5>
      <ion-label>
        NRO DE DOSIS :
      </ion-label>
    </ion-col>
    <ion-col width-50 center col-7>
<ion-input type="text" color="primary" color="dark" round ></ion-input>
    </ion-col>
  </ion-row>
</ion-grid>


  <ion-grid>

 <ion-row center full color="primary">
    <ion-col width-50 left col-5>
      <ion-label>
        NOMBRE DEL VETERINARIO :
      </ion-label>
    </ion-col>
    <ion-col width-50 center col-7>
<ion-input type="text" color="primary" color="dark" round ></ion-input>
    </ion-col>
  </ion-row>
</ion-grid>

  <ion-grid>

 <ion-row center full color="primary">
    <ion-col width-50 left col-5>
      <ion-label>
        INSTITUCION VETERINARIA :
      </ion-label>
    </ion-col>
    <ion-col width-50 center col-7>
<ion-input type="text" color="primary" color="dark" round ></ion-input>
    </ion-col>
  </ion-row>
</ion-grid>
<button ion-button block round color="boton">
    REGISTRAR
  </button>

  <button ion-button block round color="boton" (click) = " abrirCompromiso() ">
    CONTINUAR
  </button>
</ion-content>
