<!--
  Generated template for the PeligroPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar full color="rojo">
    <ion-title>Peligro</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<p>
  
  COMPROMISO TENENCIA RESPONSABLE DE ANIMALES POTENCIALMENTE PELIGROSAS

</p>

      <p>
        
       En mi calidad de titular de la mascota registrada ,  hacerme responsable asi como el cumplimiento de las normas legales en actual vigencia
      </p>
    <!--ion-input type="text" [(ngModel)] =" compromiso " placeholder="Yo XXXXXX titular de XXXXXX me comprometo....."></ion-input-->

<ion-grid>
    <ion-row radio-group [(ngModel)] = " peligro " >
        <ion-col>
            <ion-item>
             
                <ion-label>ACEPTAR</ion-label>
                <ion-radio value="En mi calidad de titular de la mascota registrada ,  hacerme responsable asi como el cumplimiento de las normas legales en actual vigencia" ></ion-radio>
            </ion-item>
        </ion-col>

    </ion-row>
  </ion-grid>



<button ion-button block round color="boton" (click) = " registrocon() ">
    ACEPTAR COMPROMISO
  </button>

</ion-content>
