<ion-header>
  <ion-navbar ion-navbar full color="rojo">
    <ion-title align="center">
     Bienvenido
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<ion-label align="center"> <b>INGRESO</b> </ion-label>


<img lign="center" src="assets/imgs/login.png"/>

  <ion-list>

  <ion-item>
    <ion-label floating>Username</ion-label>
    <ion-input type="text" [(ngModel)] =" user "></ion-input>
  </ion-item>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>

  </ion-list>

  <div padding>
    <button ion-button block color="boton" round align="center" (click) = " abrirInicio() ">INGRESAR </button>
  </div>

</ion-content>
