<!--
  Generated template for the RegistrarDosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar full color="rojo">
    <ion-title>RegistrarDos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

 <ion-label align="center"> REGISTRAR DATOS DE SALUD </ion-label>

<ion-grid>
   <ion-row >
    <ion-col  col-5>
      <ion-label align="left">
        ESTERILIZACION :
      </ion-label>
    </ion-col>
      <ion-col col-7>
      <ion-list>
<ion-item>

    <ion-select  selected="true">
      <ion-option>NO</ion-option>
      <ion-option >SI</ion-option>

    </ion-select>
</ion-item>
</ion-list>
</ion-col>
  </ion-row>
  </ion-grid>


  <ion-grid>
 <ion-row center full color="primary">
    <ion-col width-50 left col-5>
      <ion-label>
        NOMBRE DEL VETERINARIO (El que realizo la esterilizacion) :
      </ion-label>
    </ion-col>
    <ion-col width-50 center col-7>
<ion-input type="text" color="primary" color="dark" round ></ion-input>
    </ion-col>
  </ion-row>
</ion-grid>


  <ion-grid>
 <ion-row center full color="primary">
    <ion-col width-50 left col-5>
      <ion-label>
        NOMBRE DEL VETERINARIO (Actual) :
      </ion-label>
    </ion-col>
    <ion-col width-50 center col-7>
<ion-input type="text" color="primary" color="dark" round ></ion-input>
    </ion-col>
  </ion-row>
</ion-grid>


<ion-grid>
   <ion-row >
    <ion-col  col-5>
      <ion-label align="left">
        VACUNAS :
      </ion-label>
    </ion-col>
      <ion-col col-7>
      <ion-list>
<ion-item>

    <ion-select  selected="true">
      <ion-option>NO</ion-option>
      <ion-option >SI</ion-option>

    </ion-select>
</ion-item>
</ion-list>
</ion-col>
  </ion-row>
  </ion-grid>




  <ion-grid>
 <ion-row center full color="primary">
    <ion-col width-50 left col-5>
      <ion-label >
        ADJUNTAR LA FOTO DE LA MASCOTA :
      </ion-label>
    </ion-col>
    <ion-col width-50 center col-7>
<ion-input type="text" color="primary" color="dark" round ></ion-input>
    </ion-col>
  </ion-row>
</ion-grid>


<button ion-button block round color="boton" (click) = " abrirCompromiso() ">
    CONTINUAR
  </button>

</ion-content>
