<!--
  Generated template for the InicioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar full color="rojo">
    <ion-title >MENU</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding full color="rojo">

  <div padding>
    <button ion-button round block color="boton" (click) = " abrirMascota() ">
     <ion-icon name="paw" item-start>  MIS MASCOTA </ion-icon>  </button>
  </div>

    <div padding>
    <button ion-button  round block color="boton" (click) = " abrirContfacto() ">
     <ion-icon name="paw" item-start>  CONTACTO ALTERNATIVO </ion-icon>  </button>
  </div>
   <!--   <div padding>
    <button ion-button  block round color="boton" >
     <ion-icon name="paw" item-start>  NOTIFICACIONES </ion-icon>  </button>
  </div>
      <div padding>
    <button ion-button  block round color="boton">
     <ion-icon name="paw" item-start>  VOLVER </ion-icon>  </button>
  </div>-->
      <div padding>
    <button ion-button  block round color="boton" >
     <ion-icon name="paw" item-start>  SALIR </ion-icon>  </button>
  </div>
</ion-content>
