<!--
  Generated template for the TatuajePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar full color="rojo">
    <ion-title>Tatuaje</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<ion-label align="center"> REGISTRAR DATOS DEL CHIP</ion-label>


   <ion-grid>
 <ion-row center full color="primary">
    <ion-col width-50 left col-5>
      <ion-label>
       FECHA DE APLICACION :
      </ion-label>
    </ion-col>
    <ion-col width-50 center col-7>
<ion-input type="text" color="edit" round ></ion-input>
    </ion-col>
  </ion-row>
</ion-grid>





   <ion-grid>
 <ion-row center full color="primary">
    <ion-col width-50 left col-5>
      <ion-label>
       NOMBRE DEL VETERINARIO :
      </ion-label>
    </ion-col>
    <ion-col width-50 center col-7>
<ion-input type="text" color="edit" round ></ion-input>
    </ion-col>
  </ion-row>
</ion-grid>


   <ion-grid>
 <ion-row center full color="primary">
    <ion-col width-50 left col-5>
      <ion-label>
       INSTITUCION VETERINARIA :
      </ion-label>
    </ion-col>
    <ion-col width-50 center col-7>
<ion-input type="text" color="edit" round ></ion-input>
    </ion-col>
  </ion-row>
</ion-grid>


   <ion-grid>
 <ion-row center full color="primary">
    <ion-col width-50 left col-5>
      <ion-label>
       ADJUNTAR FOTO DEL TATUAJE :
      </ion-label>
    </ion-col>
    <ion-col width-50 center col-7>
<ion-input type="text" color="edit" round ></ion-input>
    </ion-col>
  </ion-row>
</ion-grid>


      <div padding>
    <button ion-button  block round color="boton" (click)=" abrirRegistroDos() "  >
     <ion-icon name="paw" item-start>  REGISTRAR </ion-icon>  </button>
  </div>


</ion-content>
