<!--
  Generated template for the MascotaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar full color="rojo">
    <ion-title >MIS MASCOTAS</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


<button ion-button align="rigth"  color="boton" (click) = " abrirRegistroUno() "><ion-icon ios="ios-add-circle" md="md-add-circle">  AGREGAR</ion-icon></button>
<ion-list>
  <ion-item-sliding *ngFor="let item of data_listar">
    <ion-item>
      <ion-avatar item-start>
    <img [src]=(item.foto)>
        <!--img id="imgMascota" src="data:image/jpeg;base64,{{item.foto}}">
        <img data-ng-src="{{item.foto}}"/-->
      </ion-avatar>
      <h2>{{ item.nombre_mas }}</h2>
    </ion-item>

    <ion-item-options side="right">
      <button ion-button color="primary" (click)="erica(item.xmascota_id)">
      <ion-icon name="information-circle"></ion-icon>
        inf
      </button>
      <button ion-button color="secondary"(click)="ericados(item.xmascota_id,item.nombre_mas,item.especie,item.raza,item.sexo,item.peso,item.edad,item.tamanio,item.color,item.marca,item.vete_actual)">
     <ion-icon name="color-filter"></ion-icon>
        vac
      </button>
    </ion-item-options>

    <!--<ion-item-options side="right">
      <button ion-button color="primary">
        <ion-icon name="mail"></ion-icon>
        Email
      </button>
    </ion-item-options>-->
  </ion-item-sliding>
</ion-list>




    <!--<ion-list>
    <button ion-item *ngFor="let item of data_listar" (click)=" erica( item.xmascota_id ) ">
      {{ item.nombre_mas }}

    </button>  
  </ion-list>-->



  <div padding>
    <button ion-button block color="boton" round align="center" (click) = " listamascota() ">VOLVER </button>
  </div>


</ion-content>

