<!--
  Generated template for the RegistrarUnoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar full color="rojo">
    <ion-title>registrarUno</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding >


 <ion-label> REGISTRAR ANIMAL DE COMPAÑIA </ion-label>
<ion-grid>

 <ion-row center >
    <ion-col width-50 left col-5>
      <ion-label>
        NOMBRE (mascota) :
      </ion-label>
    </ion-col>
    <ion-col width-50 center col-7>
<ion-input type="text" round ></ion-input>
    </ion-col>
  </ion-row>
</ion-grid>


<ion-grid>
   <ion-row >
    <ion-col  col-5>
      <ion-label align="left">
        ESPECIE :
      </ion-label>
    </ion-col>
      <ion-col col-7>
      <ion-list>
<ion-item>

    <ion-select  selected="true">
      <ion-option>CANINO</ion-option>
      <ion-option >FELINO</ion-option>

    </ion-select>
</ion-item>
</ion-list>
</ion-col>
  </ion-row>
  </ion-grid>



  <ion-grid>
   <ion-row >
    <ion-col  col-5>
      <ion-label align="left">
        RAZA :
      </ion-label>
    </ion-col>
      <ion-col col-7>
      <ion-list>
<ion-item>

    <ion-select  selected="true">
      <ion-option>AMERICAN STAFFORDSHIRE</ion-option>
      <ion-option >AMERICAN STAFFORDSHIRE BULL TERRIER</ion-option>
      <ion-option >PIT BULL TERRIER</ion-option>
      <ion-option >BULLMASTIFF</ion-option>
      <ion-option >DOBERMAN</ion-option>
      <ion-option >DOGO ARGENTINO</ion-option>
      <ion-option >DOGO DE BURDEOS</ion-option>
      <ion-option >FILA BRASILEÑO</ion-option>
      <ion-option >CRIOLLA</ion-option>
      <ion-option >BULDOG</ion-option>
      <ion-option >DALMATA</ion-option>
      <ion-option >SIAMES</ion-option>
      <ion-option >PERSA</ion-option>
      <ion-option >PUG</ion-option>
      <ion-option >SHOPPER</ion-option>


    </ion-select>
</ion-item>
</ion-list>
</ion-col>
  </ion-row>
  </ion-grid>
   
<ion-grid>
   <ion-row >
    <ion-col  col-5>
      <ion-label align="left">
        SEXO :
      </ion-label>
    </ion-col>
      <ion-col col-7>
      <ion-list>
<ion-item>

    <ion-select  selected="true">
      <ion-option>MACHO</ion-option>
      <ion-option >HEMBRA</ion-option>

    </ion-select>
</ion-item>
</ion-list>
</ion-col>
  </ion-row>
  </ion-grid>


<ion-grid>
   <ion-row >
    <ion-col  col-3>
      <ion-label align="left">
        PESO :
      </ion-label>
    </ion-col>
      <ion-col col-4>
      <ion-list>
<ion-item>

    <ion-select  selected="true">
      <ion-option>KILOS</ion-option>
      <ion-option >GRAMOS</ion-option>

    </ion-select>
</ion-item>
</ion-list>
</ion-col>

  <ion-col col-5>


<ion-input type="text" color="primary" color="dark" round ></ion-input>

</ion-col>
  </ion-row>
  </ion-grid>

  <ion-grid>
   <ion-row >
    <ion-col  col-5>
      <ion-label align="left">
        EDAD (años) :
      </ion-label>
    </ion-col>
      <ion-col col-7>
<ion-input type="text" color="primary" color="dark" round ></ion-input>
</ion-col>
  </ion-row>
  </ion-grid>

<ion-grid>
   <ion-row >
    <ion-col  col-5>
      <ion-label align="left">
        TAMAÑO :
      </ion-label>
    </ion-col>
      <ion-col col-7>
      <ion-list>
<ion-item>

    <ion-select  selected="true">
      <ion-option>GIGANTE</ion-option>
      <ion-option >GRANDE</ion-option>
       <ion-option >MEDIANO</ion-option>
        <ion-option >PEQUEÑO</ion-option>
    </ion-select>
</ion-item>
</ion-list>
</ion-col>

  </ion-row>
  </ion-grid>



  <ion-grid>
   <ion-row >
    <ion-col  col-5>
      <ion-label align="left">
        COLOR :
      </ion-label>
    </ion-col>
      <ion-col col-7>
<ion-input type="text" color="primary" color="dark" round ></ion-input>
</ion-col>
  </ion-row>
  </ion-grid>


<ion-grid>
   <ion-row >
    <ion-col  col-5>
      <ion-label align="left">
        LA MASCOTA TIENE MARCA :
      </ion-label>
    </ion-col>
      <ion-col col-7>
      <ion-list>
<ion-item>

    <ion-select  [(ngModel)] =" gender ">
      <ion-option value="N">NINGUNA</ion-option>
      <ion-option value="C">CERTIFICADO</ion-option>
       <ion-option value="T">TATUAJE</ion-option>
        <ion-option value="CH" >CHIP</ion-option>
    </ion-select>
</ion-item>
</ion-list>
</ion-col>

  </ion-row>
  </ion-grid>

<button ion-button block round color="boton" (click) = " abrirRegistrfoDos() ">
    CONTINUAR
  </button>

</ion-content>
