<!--
  Generated template for the CompromimisoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar full color="rojo">
    <ion-title>Compromimiso</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
   <p>
     
   
        COMPROMISO DE TENENCIA REPONSABLE DE ANIMALES DE COMPAÑIA

     
 </p>
        


      <p>
        
       En mi calidad de titular de la mascota registrada ,  me comprometo a no maltratar ni abandonar , brindar el cuidado y atenciona a la mascota bajo mi custodia , asi como el cumplimiento de las normas legales en actual vigencia
      </p>
    <!--ion-input type="text" [(ngModel)] =" compromiso " placeholder="Yo XXXXXX titular de XXXXXX me comprometo....."></ion-input-->

<ion-grid>
    <ion-row radio-group [(ngModel)] = " compromiso " >
        <ion-col>
            <ion-item>
             
                <ion-label>ACEPTAR</ion-label>
                <ion-radio value="En mi calidad de titular de la mascota registrada ,  me comprometo a no maltratar ni abandonar , brindar el cuidado y atenciona a la mascota bajo mi custodia , asi como el cumplimiento de las normas legales en actual vigencia" ></ion-radio>
            </ion-item>
        </ion-col>

    </ion-row>
  </ion-grid>
     <p>
       Adjunte la foto de su mascota presionando el boto "CAMARA"
      </p>
<button ion-button block round color="boton" (click)=" openCamera() ">CAMARA</button>
<img [src]="base64Image"/>
<button ion-button block round color="boton" (click) = " registrarFinal() ">
    FINALIZAR
  </button>
</ion-content>
