<!--
  Generated template for the ContactosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar full color="rojo">
    <ion-title>Contactos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
 <ion-label align="center"> CONTACTO ALTERNATIVO </ion-label>

   <ion-grid>
 <ion-row center full color="primary">
    <ion-col width-50 left col-5>
      <ion-label>
       NOMBRES :
      </ion-label>
    </ion-col>
    <ion-col width-50 center col-7>
<ion-input type="text" color="edit" round ></ion-input>
    </ion-col>
  </ion-row>
</ion-grid>

   <ion-grid>
 <ion-row center full color="primary">
    <ion-col width-50 left col-5>
      <ion-label>
        AP. PATERNO :
      </ion-label>
    </ion-col>
    <ion-col width-50 center col-7>
<ion-input type="text" color="edit" round ></ion-input>
    </ion-col>
  </ion-row>
</ion-grid>


   <ion-grid>
 <ion-row center full color="primary">
    <ion-col width-50 left col-5>
      <ion-label>
        AP. MATERNO :
      </ion-label>
    </ion-col>
    <ion-col width-50 center col-7>
<ion-input type="text" color="edit" round ></ion-input>
    </ion-col>
  </ion-row>
</ion-grid>

   <ion-grid>
 <ion-row center full color="primary">
    <ion-col width-50 left col-5>
      <ion-label>
         AP. CASADO :
      </ion-label>
    </ion-col>
    <ion-col width-50 center col-7>
<ion-input type="text" color="edit" round ></ion-input>
    </ion-col>
  </ion-row>
</ion-grid>


   <ion-grid>
 <ion-row center full color="primary">
    <ion-col width-50 left col-5>
      <ion-label>
        EMAIL :
      </ion-label>
    </ion-col>
    <ion-col width-50 center col-7>
<ion-input type="text" color="edit" round ></ion-input>
    </ion-col>
  </ion-row>
</ion-grid>


   <ion-grid>
 <ion-row center full color="primary">
    <ion-col width-50 left col-5>
      <ion-label>
        FIJO :
      </ion-label>
    </ion-col>
    <ion-col width-50 center col-7>
<ion-input type="text" color="edit" round ></ion-input>
    </ion-col>
  </ion-row>
</ion-grid>


   <ion-grid>
 <ion-row center full color="primary">
    <ion-col width-50 left col-5>
      <ion-label>
        CELULAR :
      </ion-label>
    </ion-col>
    <ion-col width-50 center col-7>
<ion-input type="text" color="edit" round ></ion-input>
    </ion-col>
  </ion-row>
</ion-grid>



      <div padding>
    <button ion-button  block round color="boton" (click)=" volverhDVyInicio() "  >
     <ion-icon name="paw" item-start>  REGISTRAR </ion-icon>  </button>
  </div>

</ion-content>
