<!--
  Generated template for the CertificadoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar full color="rojo">
    <ion-title >REGISTRAR CERTIFICADO</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<ion-list>

  <ion-item>
    <ion-label stacked>FECHA DE APLICACION :</ion-label>
    <ion-input type="text" color="edit" round [(ngModel)] =" fecha_aplicacion "></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>NOMBRE DEL VETERINARIO :</ion-label>
  <ion-input type="text" color="edit" round [(ngModel)] =" nombre_veterinario_realizacion "></ion-input>
  </ion-item>

    <ion-item>
    <ion-label stacked>INSTITUCION  :</ion-label>
      <ion-input type="text" color="edit" round [(ngModel)] =" institucion "></ion-input>
  </ion-item>

    <ion-item>
    <ion-label stacked>OPCIONAL:</ion-label>
<ion-input type="text" color="edit" round [(ngModel)] =" codigo_esterilizacion "></ion-input>
  </ion-item>

</ion-list>




      <div padding>
    <button ion-button  block round color="boton" (click)=" abrirRegistroDos() "  >
     <ion-icon name="paw" item-start>  REGISTRAR </ion-icon>  </button>
  </div>

</ion-content>
