<!--
  Generated template for the MascotaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar full color="rojo">
    <ion-title>Mascota</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-label align="center" >MIS MASCOTA </ion-label>

<button ion-button align="rigth"  color="boton" (click) = " abrirRegistroUno() "><ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon></button>
    <ion-list>
      <ion-item>
        <ion-thumbnail item-start >
          <img src="assets/imgs/abb.jpg">
        </ion-thumbnail>
        <h2>Ruby</h2>
      </ion-item>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="assets/imgs/abd.jpeg">
        </ion-thumbnail>
        <h2>Oscar</h2>
      </ion-item>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="assets/imgs/bb.jpg">
        </ion-thumbnail>
        <h2>Zoey</h2>
      </ion-item>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="assets/imgs/dd.jpg">
        </ion-thumbnail>
        <h2>Otto</h2>
      </ion-item>
    </ion-list>

  <div padding>
    <button ion-button block color="boton" round align="center" (click) = " volverInicio() ">VOLVER </button>
  </div>

</ion-content>
